// 字体变量
$font-x: 12px;
$font-s: 14px;
$font-m: 16px;
$font-b: 18px;
$font-l: 20px;

// 1.5 times
$font-hx: 22px;
$font-hs: 24px;
$font-hm: 26px;
$font-hb: 28px;
$font-hl: 30px;

// 2 times
$font-dx: 32px;
$font-ds: 34px;
$font-dm: 36px;
$font-db: 38px;
$font-dl: 40px;
